/* 字体 */
.font18 {
	font-size: 18rpx;
}

.font22 {
	font-size: 22rpx;
}

.font24 {
	font-size: 24rpx;
}

.font28 {
	font-size: 28rpx;
}

.font30 {
	font-size: 28rpx;
}

.font36 {
	font-size: 36rpx;
}

.font42 {
	font-size: 42rpx;
}

/* 字体颜色 */
.fontColor-ccc {
	color: #CCCCCC;
}

.fontColor-333 {
	color: #333333;
}

.fontColor-666 {
	color: #666666;
}

.fontColor-999 {
	color: #999999;
}

.fontColor-FF6000 {
	color: #FF6000;
}

/* 图标 */
.icon22 {
	width: 22rpx;
	height: 22rpx;
	margin-left: 10rpx;
}

.icon32 {
	width: 32rpx;
	height: 32rpx;
}

.icon60 {
	width: 60rpx;
	height: 60rpx;
}

/* 按钮 */
.addbtn {
	color: #FF8D1E;
	display: inline;
	padding: 15rpx 25rpx;
	text-align: center;
	border: 1px solid #FF8D1E;
	border-radius: 12rpx;
}

/* 自定义单选框 */
.radio1,
.radio2 {
	padding: 15rpx 55rpx;
	border: 1rpx solid #E5E5E5;
	background-color: #fff;
}

.radio1 {
	border-radius: 10px 0px 0px 10px;
	border-right: none;
}

.radio2 {
	border-radius: 0px 10px 10px 0px;
	border-left: none;
}

/* 预约详情页 */
.yuyue-box {
	padding: 30rpx 30rpx 150rpx 30rpx;
}

/* 自定义div */
.view-diy {
	padding: 30rpx 40rpx;
	border-radius: 20rpx;
	background-color: #fff;
	margin-bottom: 30rpx;
}

/* uni-ui */
/* 隐藏 uni-datetime-picke 的 input*/
.shop .relive-icon .uni-datetime-picker .uni-date-editor,
.peihu-yuyue-uptime .uni-datetime-picker .uni-date-editor {
	opacity: 0 !important;
}


/* swiper轮播标识圆点 */
.menu .uni-swiper-wrapper .uni-swiper-dots-horizontal {
	height: 16rpx !important;
	bottom: 10rpx !important;
}

/* 社区商圈 附近商家 分段器 */
.nearbyshop .nearbyshop-segmented .segmented-control,
.content .searchType .segmented-control {
	/* overflow-x: auto; */
}

.nearbyshop .segmented-control .segmented-control__item,
.content .searchType .segmented-control__item {
	flex: none;
	min-width: 56rpx;
	padding: 0px 40rpx;
}

.nearbyshop .segmented-control .segmented-control__item .segmented-control__text,
.content .searchType .segmented-control__item .segmented-control__text {
	font-size: 28rpx;
}

/* 取消订单 单选器 */
.reason-box .uni-radio-input.uni-radio-input-checked:before {
	color: black;
}

/* uni-forms-item 标题 */
.itemx .uni-forms-item__box .is-direction-left .uni-forms-item__label .label-text {
	font-size: 28rpx;
	color: #212121;
}

/* 头部底部tab栏优先级更改 */
uni-page-head .uni-page-head,
.uni-tabbar-bottom{
	z-index: 1;
}
.uni-forms-item__inner{
	padding-bottom: 0 !important;
}
